.navbar-container {
    display: flex;
    align-items: center;
    height: 15vh;
    background-color: rgb(57, 82, 171);
}

.login-element {
    display: flex;
    flex-direction: row;
}

.account-element {
    display: flex;
    flex-direction: row;
}

.nav {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    width: 100%;
    height: 100%;
    justify-content: right;
}

.nav-home {
    display: flex;
    align-items: center;
    margin-left: 20px;
    height: fit-content;
    text-align: center;
}

.nav-entry {
    display: flex;
    justify-content: right;
    align-items: center;
    margin-left: auto;
    margin-right: 50px;
    margin-left: 5px;
}

.navbar-link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgb(202, 205, 222);
    text-decoration: none;
}

.navbar-home {
    color: rgb(226, 227, 235);
    text-decoration: none;
    font-family: Tahoma;
    font-size: 42px;
    font-weight: bold;
}

.nav-lang-sel-container {
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    position: relative;
}

.nav-lang-sel-rest {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin-top: 0px;
    width: fit-content;
    height: fit-content;
    outline: 1px;
    outline-style: solid;
    outline-color: rgb(205, 205, 205);
    position: absolute;
    top: 100%;
}

.nav-lang-sel-entry {
    display: flex;
    padding: 0px;
    width: fit-content;
    height: 20px;
}

.nav-lang-sel-img {
    outline: 1px;
    outline-style: solid;
    outline-color: rgb(205, 205, 205);
    width: 40px;
    height: 20px;
}